<div style="margin-top:140px;min-height:400px;" class="container">
    <div class="item-list">
        <div class="service-info">
            <h3 style="margin-bottom:30px">Confirmation</h3>
            <div class="row">
                <div class="col-md-1">
                    <i class="material-icons">done_all</i>
                </div>
                <div class="col-md-6">
                    <p class="margin-b-5">
                        Your order is confirmed, you will receive your order shortly
                    </p>
                    <p class="margin-b-5">
                        You can also place or track your order on WhatsApp +918173868129
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var handleHeaderOnScroll = function () {
        if ($(window).scrollTop() > 60) {
            $('body').addClass('page-on-scroll');
        } else {
            $('body').addClass('page-on-scroll');
        }
    }

    $(window).scroll(function () {
        handleHeaderOnScroll();
    });
    $('body').addClass('page-on-scroll');
</script>