<div style="margin-top:140px;min-height:400px;" class="container">
    <div class="item-list">
        <div class="service-info">
            <div class="row">
                <div class="service" data-height="height">
                    <div class="service-element">
                        <i class="service-icon icon-layers"></i>
                    </div>
                    <div class="service-info">
                        <h3>About Us</h3>
                        <p class="margin-b-5">
                            We serve at your door step, all your home needs we can help you.
                        </p>
                        <p class="margin-b-5">
                            We are now serving at allahabad location for all our services and have plans to expand soon
                        </p>
                        <p class="margin-b-5">
                            We can help you with any kind of the service, just order or do call or WhatsApp us.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var handleHeaderOnScroll = function () {
        if ($(window).scrollTop() > 60) {
            $('body').addClass('page-on-scroll');
        } else {
            $('body').addClass('page-on-scroll');
        }
    }

    $(window).scroll(function () {
        handleHeaderOnScroll();
    });
    $('body').addClass('page-on-scroll');
</script>