    <!--========== FOOTER ==========-->
    <footer class="footer">
            <!-- Copyright -->
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img class="footer-logo" src="/assets/img/logo.png" alt="Asentus Logo">
                    </div>
                    <div class="col-xs-6 text-right">
                        <p class="margin-b-0">
                            <a class="color-base fweight-700">Door 2 Door</a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div><a data-ui-sref="admin.login">Admin</a></div>
                </div>
                <!--// end row -->
            </div>
            <!-- End Copyright -->
        </footer>
        <!--========== END FOOTER ==========-->
    