    <!--========== SLIDER ==========-->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img class="img-responsive" src="/assets/img/crousel.jpeg" alt="Slider Image">
					<div class="container">
						<div class="carousel-centered">
							<div class="margin-b-40">
								<h1 class="carousel-title">At your Service</h1>
								<p style="font-size:x-large;color:white;">We will serve you at your door step...</p>
							</div>
							<a data-ui-sref="dashboard.order" class="btn-theme btn-theme-sm btn-white-brd text-uppercase">Order Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--========== SLIDER ==========-->
	
		<!--========== PAGE LAYOUT ==========-->
		<!-- Service -->
		<div class="bg-color-sky-light" data-auto-height="true">
			<div class="content-lg container">
				<div class="row row-space-1 margin-b-2">
					<div class="col-sm-4 sm-margin-b-2">
						<div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".3s">
							<div class="service" data-height="height">
								<div class="service-element">
									<i class="service-icon icon-cup"></i>
								</div>
								<div class="service-info">
									<h3>Grocery</h3>
									<p class="margin-b-5">
										All Your hoome needs at your door
									</p>
								</div>
								<a href="#" class="content-wrapper-link"></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 sm-margin-b-2">
						<div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".2s">
							<div class="service" data-height="height">
								<div class="service-element">
									<i class="service-icon icon-notebook"></i>
								</div>
								<div class="service-info">
									<h3>Events</h3>
									<p class="margin-b-5">
										Don't worry, we will manage them all, you just enjoy your party
									</p>
								</div>
								<a href="#" class="content-wrapper-link"></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".1s">
							<div class="service" data-height="height">
								<div class="service-element">
									<i class="service-icon icon-home"></i>
								</div>
								<div class="service-info">
									<h3>Home Designing</h3>
									<p class="margin-b-5">
										We bring to you inspiring visuals of cool homes, specific spaces, architectural marvels and new design trends
									</p>
								</div>
								<a href="#" class="content-wrapper-link"></a>
							</div>
						</div>
					</div>
				</div>
				<!--// end row -->
	
				<div class="row row-space-1">
					<div class="col-sm-12 sm-margin-b-2">
						<div class="wow fadeInLeft" data-wow-duration=".3" data-wow-delay=".4s">
							<div class="service" data-height="height">
								<div class="service-element">
									<i class="service-icon icon-bag"></i>
								</div>
								<div class="service-info">
									<h3>Need More</h3>
									<p class="margin-b-5">
										Any kind of services, just contact us, we can help you out with all you problems
									</p>
								</div>
								<a href="#" class="content-wrapper-link"></a>
							</div>
						</div>
					</div>
				</div>
				<!--// end row -->
			</div>
		</div>
		<!-- End Service -->
	
		<!-- Testimonials -->
		<div class="content-lg container">
			<div class="row">
				<div class="col-sm-9">
					<h2>Customer Reviews</h2>
	
					<!-- Swiper Testimonials -->
					<div class="swiper-slider swiper-testimonials">
						<!-- Swiper Wrapper -->
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<blockquote class="blockquote">
									<div class="margin-b-20">
										You made it so simple. Now i can order any thing from the comfort of my couch. It's a great experience.
									</div>
									<div class="margin-b-20">
										I just open the site, create my list and submit and thats all, my order at my Door step. Thanks, guys!
									</div>
									<p>
										<span class="fweight-700 color-link">Shubham Tripathi</span>, Teliarganj, Allahabad</p>
								</blockquote>
							</div>
							<div class="swiper-slide">
								<blockquote class="blockquote">
									<div class="margin-b-20">
										Wow. I just checked this site and it was SO SIMPLE. I am blown away. You guys truly done it well. Thanks for being so awesome.
										High fives!
									</div>
									<div class="margin-b-20">
										Keep the good work going on.
									</div>
									<p>
										<span class="fweight-700 color-link">Prabhat Gupta</span>, Civil Lines, Allahabad</p>
								</blockquote>
							</div>
						</div>
						<!-- End Swiper Wrapper -->
	
						<!-- Pagination -->
						<div class="swiper-testimonials-pagination"></div>
					</div>
					<!-- End Swiper Testimonials -->
				</div>
			</div>
			<!--// end row -->
		</div>
		<!-- End Testimonials -->

<script>
	    // Swiper Clients
		var swiper = new Swiper('.swiper-testimonials', {
        speed: 1000,
        autoplay: 10000,
        slidesPerView: 1,
        loop: true,
	});
	Wow.init();	
	Layout.init();
</script>